*.a
*.o
*.py[co]
*.so
*.sw[nop]
*~
.#*
[#]*#
__pycache__
bzr-orphans
**/bin
**/bin/**
**/*.user
**/obj
**/obj/**
**/*.sln.cache
**/*.suo
**/aspnet_client
**/*_ReSharper*.*
**/*.resharper
**/Bin
**/Bin/**
*.dtproj.user
*.suo
*.*.suo
*.rptproj.user
**/TestResults
**/TestResults/**